# A list of file extensions I want Git to ignore at all: they should
# not be added or shown as "untracked".

# Run-generated data files
*.dat

# Backup files
*~

# Documents
*.pdf

# Temporary files
reticolo-1d/temp/
reticolo-2d/temp/

# Images
*.jpeg
*.svg

# ROOT macros: I'll provide C++ source version
*.C

# Binaries
*.a
*.o

# specific binary names
#fit_*
#fit
fit_en
fit_cu
fit_cs
analisi_varianze
varianze.sh
analisi
cut
reticolo-1d/reticolo-1d
reticolo-2d/reticolo-2d
