# A list of file extensions I want Git to ignore at all: they should
# not be added or shown as "untracked".

# Run-generated data files
*.dat

# Backup files
*~

# ROOT macros: I'll provide C++ source version
*.C

# specific binary names
fit
analisi
cut
